@page "/fetchdata"
@using BlazorApp1.Shared
@using BlazorApp1.Client.Store.WeatherUseCase

@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<button class="btn btn-danger my-2" @onclick="ShowDeleteModal" disabled="@(!WeatherState.Value.CheckedIds.Any())">삭제</button>

<!-- https://www.htmlelements.com/blazor/blazor-ui/demos/blazor-table?id=basic -->

@if (WeatherState.Value.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table Selection="true" class="table" Paging="true"
           DataSource="WeatherState.Value.Forecasts"
           @ref = "TableWeather"
           @OnCellClick="e => Check(TableWeather.Selected)">

    </Table>
}



