<span style="display:inline-block;overflow: hidden;position: relative;" @onclick="OnClick">
    <button type="button" @attributes="AdditionalAttributes">
        @RippleMarkup
        @ChildContent
    </button>
</span>
